<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crosspost</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
<div id="homePage">
    <h1>Welcome to Crosspost</h1>
    <p>A platform to post videos across multiple streaming applications simultaneously. Key features include:</p>
    <ul>
        <li>Post videos with previews on YouTube and other platforms</li>
        <li>Efficient crossposting tool</li>
        <li>Two more key points</li>
    </ul>
</div>
<div id="signupPage" style="display: none;">
    <div class="error">

    </div>
</div>
<div id="loginPage" style="display: none;">
    <div class="error">

    </div>
</div>
</body>
</html>